body {
    font-family: 'Open Sans';
    font-weight: 400;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header-nav{
    background-color:#FFF0ED;
    padding: 1em 1%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.left-nav {
    display: flex;
    align-items: center;
}
.coffee-bag{
    background-color: #FFF0ED;
    padding: 0 8% 2% 8%;
    display:flex;
    align-items: center;
}
.discount{
    background-color: #393939;
    color:white;
    font-size: 46px;
    padding: 20px;
    margin: 8%;
    text-align: center;
    animation: flash 2.5s infinite;/*Exercise 17: Animations*/
}
.product-container{
    background-color:#F7F7F7;
    padding-bottom: 1em;
}
.footer-background{
    background-color: #FFF0ED;
    padding:5% 8%;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;

}
.address, .hours, .social {
    margin: 0 10px;
    text-align: left; 
}
.hours{
    display: flex;
    flex-direction: column; /*all the stuff underneath the "Hours" title can be vertically stacked*/
    justify-content: left;
}
.social {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.price{
    color:#5BACC3;
    text-align: center;
    font-size: 32px;
}

h1{
    font-size: 4.5em;
    font-weight: 300;
    color: #393939;
}
h2{
    font-size: 4.5em;
    font-weight: 300;
    color: #393939;
}
h3{
    font-size: 2.5em;
    font-weight: 200;
    color: #393939;

}
.landing-button{
    position: relative;
    background-color: transparent;
    color: white; /*text*/
    border: 2px solid black;
    font-size: 18px;
    padding: 0.75em 1.25em;
    bottom: 5px;
    right: 5px;
    transition: transform 0.3s ease; /*very slow than fast for the animation*/
}
.landing-button-container{
    background-color:#5BACC3;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px;

}

.header-list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}
.header-list li{
    margin-left: 1em;
}
.header-list a {
    text-decoration: none;
    color: #393939;

}
.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0; /*13*/
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    background-color: white;
    margin: 0;
    display: flex; /*13*/
    flex-direction: column ; /*13*/
    align-items: center ; /*13 - center content horizationally*/

}
.card img{
    width: 80%;
    height: auto;
    object-fit: contain; /*13 images scale w/o distortion*/
    display: block; /*13*/
    aspect-ratio: 4/3; /*13 images are same size w/in the aspect ratio*/
    padding: 1em 0 ;

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em ;

 
}
.container{
    padding: 2em;
    width: 100%;
    background-color: #FFF0ED;
    margin: 0;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.description-left{
    width:50%;
    text-align: left;
    padding-bottom: 5%;

}
.bag{
    height: auto;
    margin-left: auto;
}
.conatiner-bag{
    text-align: left;

}
.header-list a:active{
    color:#5BACC3;
}

.product-info { /*seprate text from the price so they sit next to each other*/
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: left;

}

.different{/*Exercise 14: NEW*/
    display: flex;
    padding: 8% 8%;
    justify-content: space-evenly;
}
.different-left{/*Exercise 14: NEW*/
    padding: 1em;
}
.different-right{/*Exercise 14: NEW*/
    display: flex;
    height: auto;
    margin-left: auto;
    width: 40%;
    position: relative;
    background-image: url("../assets/coldbrewbackground.png");/*15*/
    background-size: cover;/*15*/
    top: 20px;
    left: 20px;
    justify-content: center;
    
}

.coldbrew-background {
    border: .4em solid #5BACC3;
    position: relative; /*when you want stuff to overlap*/
    bottom: 20px;
    right: 20px;
    width: 100%;
}

 .coldbrew-background img {/*Exercise 14: NEW*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.different-icons{/*Exercise 14: NEW*/
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 2em;

}

.icons{
    display: flex;
    justify-content: space-between;
}

.bigger-container {
    width: 100%; /*makes sure this container is the width of the entirepage, so our button inside this container can be centered in the page */
    display: flex;
    justify-content: center;
}

@keyframes flash {/*Exercise 17: Flash Animations*/
    0% {background-color: #393939; color: white}
    50% {background-color: #5BACC3; color: white;}
    100% {background-color: #393939; color: white;}
}

@keyframes rotate {/*Exercise 17: this preforms the animation. the translate is needed because of the translate in the image originally*/
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.different-right:hover .rotating-can{ /*Exercise 17 on hover rotate starts */
    animation: rotate 2s linear infinite; /*Rotate infinitely with 1 full rotation every 2 seconds*/
    transform-origin: center ;

}
.landing-button:active{/*Exercise 17*/
    transform: translateY(5px) translateX(5px);
}

h2 a {
    text-decoration: none;
    color: black;
}