body {
    font-family: 'Open Sans';
    font-weight: 400;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header-nav{
    background-color:#FFF0ED;
    padding: 20px;
}
.coffee-bag{
    background-color: #FFF0ED;
    padding: 0 8% 2% 8%;
    display:flex;
    align-items: center;
}
.discount{
    background-color: #393939;
    color:white;
    font-size: 46px;
    padding: 20px;
    margin: 8%;
    text-align: center;
}
.product-container{
    background-color:#F7F7F7;
}
.footer-background{
    background-color: #FFF0ED;
    display: flex;
    padding:5% 8%;
}
.address, .hours, .social {
    flex: 1; 
    margin: 0 10px; 
    text-align: left; 
}
.price{
    color:#5BACC3;
    text-align: center;
    font-size: 32px;
}

h1{
    font-size: 4.5em;
    font-weight: 300;
    color: #393939;
}
h2{
    font-size: 4.5em;
    font-weight: 300;
    color: #393939;
}
h3{
    font-size: 2.5em;
    font-weight: 200;
    color: #393939;

}
.landing-button{
    background-color:#5BACC3 ;
    color: white;
    border: none;
    font-size: 18px;
    padding: 0.75em 1.25em;
}

.header-list{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    flex-direction: row;
}
.header-list li{
    margin-left: 1em;
}
.header-list a {
    text-decoration: none;
    color: #393939;

}
.header-nav{
    background-color:#FFF0ED;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 1%;

}
.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0; /*13*/
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    background-color: white;
    margin: 0;
    display: flex; /*13*/
    flex-direction: column ; /*13*/
    align-items: center ; /*13 - center content horizationally*/

}
.card img{
    width: 80%;
    height: auto;
    object-fit: contain; /*13 images scale w/o distortion*/
    display: block; /*13*/
    aspect-ratio: 4/3; /*13 images are same size w/in the aspect ratio*/
    padding: 1em 0 ;

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em ;

 
}
.container{
    padding: 2em;
    width: 100%;
    background-color: #FFF0ED;
    margin: 0;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.description-left{
    width:33%;
    text-align: left;
    padding-bottom: 5%;

}
.bag{
    height: auto;
    margin-left: auto;
}
.conatiner-bag{
    text-align: left;

}
.header-list a:active{
    color:#5BACC3;
}

.product-info { /*seprate text from the price so they sit next to each other*/
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: left;

}