body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.menu-background {
    background-image: url('../assets/coffee-circle.jpg');
    background-size: cover;
    background-position: center;    
    height: 700px; /*Exercise 14: changed this be a bit bigger so you can kinda see the full circle*/
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;/*Exercise 14: changed this to center LOL*/

}

.menu-text{
    padding: 1em 1.2em 1em 1.2em;
    color: white;
    text-align: center;
    font-size: 2.3em;
    position: relative;
    border: .2em solid #5BACC3;
    bottom: 20px;
    right: 20px;
}
.menu-text-container{
    position: relative;
    background-color: #393939;
    top: 20px;
    left: 20px;
}
.list-background{
    background-color: #393939;
    
}
.centered-list {
    list-style-type: none;
    text-align: center;
    
    
}
.centered-list a {
    text-decoration: none;
    color: white;
    border-left: 4px solid #5BACC3;
    font-size: 26px;
    padding: 0px 1em 0px 1em;

}

li{
    display: inline-block;
    margin: 10px;
}

.hot-drinks{
    background-color: #FFF0ED ;
    padding:20px;

}


.cold-drinks{
    background-color: #F7F7F7;
    padding:20px;


}

.pastries{
    background-color: #FFF0ED;
    padding:20px;

}
h2{
    text-align: center;
    font-size: 4.5em;
    font-weight: 300;

}
h2 a{
    text-decoration: none;
    color: #393939;
    text-align: left;
    padding:0;
}
h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    padding: 10px;

}

.price{
    color:#5BACC3;
    text-align: center;
    padding: 10px;
}
.description-left{
    width:33%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    
}

.header-list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.header-list li{
    margin-left: 1em;
}
.header-list a {
    text-decoration: none;
    color: #393939;

}
.header-list a:active{
    color:#5BACC3;
}
.header-nav{
    background-color:#FFF0ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em 1%;
}

.left-nav{
    display: flex;
    align-items: center;
}