@use './partials/global' as *;
$color_1: white;
$color_2: #5BACC3;
$color_3: #393939;
$color_4: #000000;
$font-family_1: 'Open Sans';
$background-color_1: #FFF0ED;
$background-color_2: #393939;
$background-color_3: #F7F7F7;
$background-color_4: transparent;
$background-color_5: #5BACC3;
$background-color_6: white;

@keyframes flash {
/*Exercise 17: Flash Animations*/
	0% {
		background-color: #393939;
		color: white;
	}
	50% {
		background-color: #5BACC3;
		color: white;
	}
	100% {
		background-color: #393939;
		color: white;
	}
}
@keyframes rotate {
/*Exercise 17: this preforms the animation. the translate is needed because of the translate in the image originally*/
	0% {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}
body {
	font-family: $font-family_1;
	font-weight: 400;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.coffee-bag {
	background-color: $background-color_1;
	padding: 0 8% 2% 8%;
	display: flex;
	align-items: center;
}
.discount {
	background-color: $background-color_2;
	color: $color_1;
	font-size: 46px;
	padding: 20px;
	margin: 8%;
	text-align: center;
	animation: flash 2.5s infinite;
}
.product-container {
	background-color: $background-color_3;
	padding-bottom: 1em;
}
.footer-background {
	background-color: $background-color_1;
	padding: 5% 8%;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	flex-wrap: wrap;
}
.address {
	margin: 0 10px;
	text-align: left;
}
.hours {
	margin: 0 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: left;
}
.social {
	margin: 0 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: left;
}
.icons {
	display: flex;
	justify-content: space-between;
}
.price {
	color: $color_2;
	text-align: center;
	font-size: 32px;
}
h1 {
	font-size: 4.5em;
	font-weight: 300;
	color: $color_3;
}
h2 {
	font-size: 4.5em;
	font-weight: 300;
	color: $color_3;
	a {
		text-decoration: none;
		color: $color_4;
	}
}
h3 {
	font-size: 2.5em;
	font-weight: 200;
	color: $color_3;
}
.header-list {
	list-style-type: none;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	li {
		margin-left: 1em;
	}
	a {
		text-decoration: none;
		color: $color_3;
		&:active {
			color: $color_2;
		}
	}
}
.bigger-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.landing-button {
	position: relative;
	border: 2px solid #000000;
	background-color: $background-color_4;
	color: $color_1;
	font-size: 18px;
	padding: 0.75em 1.25em;
	bottom: 5px;
	right: 5px;
	transition: transform 0.3s ease;
	&:active {
		transform: translateY(5px) translateX(5px);
	}
}
.landing-button-container {
	display: inline-block;
	background-color: $background-color_5;
	position: relative;
	top: 5px;
	left: 5px;
}
.header-nav {
	background-color: $background-color_1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 1%;
}
.left-nav {
	display: flex;
	align-items: center;
}
.card {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 0;
	width: calc(25% - 20px);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	overflow: hidden;
	background-color: $background-color_6;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 80%;
		padding: 1em 0;
		height: auto;
		object-fit: contain;
		display: block;
		aspect-ratio: 4/3;
	}
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1em;
}
.container {
	padding: 2em;
	width: 100%;
	background-color: $background-color_1;
	margin: 0;
	flex-grow: 1;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.description-left {
	width: 50%;
	text-align: left;
	padding: 3% 0;
}
.bag {
	height: auto;
	margin-left: auto;
}
.conatiner-bag {
	text-align: left;
}
.product-info {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	text-align: left;
}
.different {
	display: flex;
	padding: 8% 8%;
	justify-content: space-evenly;
}
.different-left {
	padding: 1em;
}
.different-right {
	display: flex;
	height: auto;
	margin-left: auto;
	width: 40%;
	position: relative;
	background-image: url("../assets/coldbrewbackground.png");
	background-size: cover;
	top: 20px;
	left: 20px;
	background-position: center;
	justify-content: center;
	&:hover {
		.rotating-can {
			animation: rotate 2s linear infinite;
			transform-origin: center;
		}
	}
}
.coldbrew-background {
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	border: .2em solid #5BACC3;
	position: relative;
	bottom: 20px;
	right: 20px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	align-items: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.different-icons {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding-bottom: 2em;
}
.bean-left {
	position: absolute;
	left: -2em;
	opacity: 0.3;
	width: 5%;
}
.bean-right {
	position: absolute;
	right: -2em;
	opacity: 0.3;
	width: 5%;
}
